<h1>Library</h1>
<div class="row flex-row">
  <input
    type="search"
    placeholder="Search applets"
    name="search"
    id="search"
    [formControl]="searchControl"
  />
  <div class="col">
    <h3>Categories</h3>
    <ul class="nav nav-pills flex-column">
      <div *ngFor="let category of categories; let i = index">
        <li class="nav-item" (click)="setCategory(category, i)">
          <button
            class="nav-link text-start"
            [ngClass]="{ active: i === activeTabIndex }"
          >
            {{ category }}
          </button>
        </li>
      </div>
    </ul>
  </div>
  <div class="col">
    {{ getApplets() }}
    <h3>Applets</h3>
    <div *ngFor="let applet of applets">
      <div class="card mb-3">
        <div class="card-header">
          {{ applet }}
        </div>
      </div>
    </div>
  </div>
</div>
